@import "../variables";

// .home-main-content {
// 	display: grid;
// }

.home-header {
	display: flex;
	justify-content: space-between;
	font-size: 5rem;
	font-weight: 800;
	margin: 0;
	padding: 0 3rem;
	border-top: 2px solid $secondary;
	border-bottom: 2px solid $secondary;
	// max-width: 2000px;
}

.home-tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22rem;
	flex: 1 1 0;

	.home-tab {
		width: 100%;
		height: 100%;
		border: 2px solid $secondary;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: 0.2s background-color ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $accent;
		}

		&:nth-child(2),
		&:nth-child(3) {
			border-left: none;
		}

		.tab-pill {
			margin: 20px;
			padding: 10px 20px;
			border: none;
			border-radius: 30px;
			color: $background;
			background-color: $secondary;
			width: 70px;
			text-align: center;
			font-weight: 600;
			font-size: 1.2rem;
		}

		.tab-text {
			margin: 10px 20px;
			margin-left: auto;

			p {
				margin: 0;
			}
		}

		img {
			width: 4rem;
			position: relative;
			z-index: 2;
			background-color: $background;
			border-radius: 50%;
			border: 2px solid $secondary;
			margin-top: 10px;
		}
	}
}

.show-tabs {
	margin: 3rem;

	.tab-info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			border: none;
			font-family: "Outfit";
			font-size: 1rem;
			cursor: pointer;
			background-color: $background;
		}

		p {
			color: $text-secondary;
		}
	}

	.tab-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 10rem);
		justify-content: space-between;
		grid-gap: 15px;

		.show {
			transition: scale 0.3s ease-in-out;
			cursor: pointer;
			position: relative;

			.show-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $background;
				border: 2px solid $secondary;
				border-top: none;
				margin: 0;
				padding: 20px 0px 20px;
				position: absolute;
				width: calc(100% - 3px);
				top: 73%;
				transition: opacity 0.3s ease-in-out;
				opacity: 0;

				.actions {
					display: flex;
					justify-content: start;
					align-items: center;

					img {
						margin: 0 5px 5px;
						height: 1rem;
						border-radius: 50%;
						padding: 3px;
						border: 2px solid $secondary;
						transition: background-color 0.2s ease-in-out;

						&:hover {
							background-color: $accent;
						}
					}
				}

				.show-text {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				p {
					color: $text;
					margin: 0;
					text-align: center;
				}

				span {
					color: $text-secondary;
					font-size: 0.8rem;
					margin: 3px;
				}
			}

			&:hover {
				position: relative;
				z-index: 2;
				scale: 1.05;

				.show-info {
					opacity: 1;
				}

				img {
					-webkit-filter: none;
					filter: none;
				}
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 15rem;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
			}
		}
	}
}
