@use "sass:math";
@import "../variables";

// .home-main-content {
// 	display: grid;
// }

.home-header {
	display: flex;
	justify-content: space-between;
	font-size: 5rem;
	font-weight: 800;
	margin: 0;
	padding: 0 3rem;
	border-top: 2px solid $secondary;
	border-bottom: 2px solid $secondary;
}

.home-tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22rem;
	flex: 1 1 0;

	.home-tab {
		width: 100%;
		height: 100%;
		border: 2px solid $secondary;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: 0.2s background-color ease-in-out;
		cursor: pointer;

		&:nth-child(1) {
			border-left: none;
		}

		&:nth-child(3) {
			border-right: none;
		}

		&:hover {
			background-color: $accent;
		}

		&:nth-child(2),
		&:nth-child(3) {
			border-left: none;
		}

		.tab-pill {
			margin: 20px;
			padding: 10px 20px;
			border: none;
			border-radius: 30px;
			color: $background;
			background-color: $secondary;
			width: 70px;
			text-align: center;
			font-weight: 600;
			font-size: 1.2rem;
		}

		.tab-text {
			margin: 10px 20px;
			margin-left: auto;

			p {
				margin: 0;
			}
		}

		img {
			width: 4rem;
			position: relative;
			z-index: 2;
			background-color: $background;
			border-radius: 50%;
			border: 2px solid $secondary;
			margin-top: 10px;
		}
	}
}

.show-tabs {
	margin: 3rem;

	.tab-info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			border: none;
			font-family: "Outfit";
			font-size: 1rem;
			cursor: pointer;
			background-color: $background;
		}

		p {
			color: $text-secondary;
		}
	}

	.tab-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 10rem);
		justify-content: space-between;
		grid-gap: 15px;

		&.in-view {
			.show {
				transform: translateY(0px);
				opacity: 1;

				// @for $i from 1 through 20 {
				// 	&:nth-child(#{$i}) {
				// 		transition-delay: transform 0.05s * $i;
				// 	}
				// }
			}
		}

		.show {
			cursor: pointer;
			position: relative;
			opacity: 0;
			transform: translateY(50px);
			transition: transform 0.2s, opacity 0.2s, scale 0.1s ease-in;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					// transition-delay: transform 0.05s * $i;
					transition: transform 0.2s 0.05s * $i, opacity 0.2s 0.05s * $i,
						scale 0.1s ease-in;
				}
			}

			.show-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $background;
				border: 2px solid $secondary;
				border-top: none;
				margin: 0;
				padding: 20px 0px 20px;
				position: absolute;
				width: calc(100% - 3px);
				top: 73%;
				transition: opacity 0.3s ease-in-out;
				opacity: 0;

				.actions {
					display: flex;
					justify-content: start;
					align-items: center;

					img {
						margin: 0 5px 5px;
						height: 1rem;
						border-radius: 50%;
						padding: 3px;
						border: 2px solid $secondary;
						transition: background-color 0.2s ease-in-out;

						&:hover {
							background-color: $accent;
						}
					}
				}

				.show-text {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				p {
					color: $text;
					margin: 0;
					text-align: center;
				}

				span {
					color: $text-secondary;
					font-size: 0.8rem;
					margin: 3px;
				}
			}

			&:hover {
				position: relative;
				z-index: 2;
				scale: 1.05;

				.show-info {
					opacity: 1;
				}

				img.poster {
					-webkit-filter: none;
					filter: none;
				}
			}

			img.poster {
				object-fit: cover;
				min-width: 100%;
				max-width: 100%;
				min-height: 15rem;
				max-height: 15rem;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
			}
		}
	}
}

.error-msg {
	text-align: center;
	// width: 100%;
	color: #ff0000;
	// background-color: aqua;
}

@media (max-width: $breakpoint-tablet) {
	.home-header {
		font-size: 3rem;
	}
	.home-tabs {
		display: none;
	}

	.show-tabs {
		margin: 1rem;
		.tab-container {
			justify-content: center !important;
		}
	}
}

@media (max-width: $breakpoint-phone-small) {
	.show-tabs {
		.tab-container {
			img.poster {
				min-height: 100%;
			}
		}
	}
}
