@import "../variables";

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 5rem;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 1;
		list-style: none;
		padding-left: 0;
		// background-color: rgb(226, 72, 72);

		li {
			margin: 0 10px;
		}

		a {
			color: $secondary;
			text-decoration: none;
			padding: 5px 15px;
			border: 1px solid $secondary;
			border-radius: 20px;
			font-weight: 600;
			transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;

			&.active,
			&:hover {
				background-color: $secondary;
				color: $background;
			}
		}
	}

	.nav-search {
		padding: 8px 20px;
		border: 1px solid $secondary;
		outline: none;
		border-radius: 20px;
		font-family: "Outfit";
	}
}
