$text: #0a0f0c;
$text-secondary: #595959;
$background: #ecebeb;
$accent: #b3db60;
$secondary: #232222;
$breakpoint-tablet: 780px;
$breakpoint-phone-medium: 500px;
$breakpoint-phone-small: 367px;
