@import "./variables";

@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit.ttf") format("opentype");
}

html {
	// scroll-behavior: smooth;
	font-family: "Outfit";
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	color: $text;
	background-color: $background;
}